*{
    padding: 0;
    margin: 0;
}

body{
    background: #fff url(../imagens/fundo.png) repeat-x top;
}

#container{
    width: 750px;
    margin: 0 auto;
   

}

#topo{
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
  

}

.logo{
    background: url(../imagens/logo.png) no-repeat center;
    width: 181px;
    text-indent: -800px;
    height: 75px;
}
 ul{
     padding: 0;
     margin: 0;
     list-style-type: none;
 }

 #topo ul{
     background: #b10333;
     margin-top: 30px;
    float: left;
 }

 #topo ul li {
    float: left;
 }

#topo ul a{
      font-size: 0.9em;
      display: block;
      padding: 0.5em 1em;
      line-height: 2.1em;
      text-decoration: none;
      color: #fff;
      background: url(../imagens/divisor.png) no-repeat left;
}

#topo ul .primeiro a{
    background: none;
}

#topo a:hover{
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
{ 
    color: #fff;
    background: #de003e;
    cursor: text;

}

/* 
conteudo
*/

#corpo{
    margin-top: 60px;
    background: #f5f5f5;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;

}

#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}


#duas-colunas #primario{
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario{
    width: 270px;
    background: wheat;
    float: left;
    margin: 0 0 20px 15px;
}


#container-rodape{
    clear: both;
    background: #294c71;
    padding: 20px;
    
}

#rodape{
    width: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.box{
    background-color: #fff;
    padding: 5px;
    background: url(../imagens/fundo-caixa.png);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    margin: 10px 0;

}

.box h4{
    background: #294c71;
    color: #fff;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

.conteudo{
    background: #fff;
    margin-top: 5px;

}

.news{
    background: #fff;
    margin-top: 12px;
}

.conteudo ul li{
    padding: 10px 0;
}

.conteudo ul{
    padding: 10px;
}

#lateral .conteudo a:hover{
    color: #a1a1a1;
    background: url(../imagens/marcador.png) no-repeat left;
    padding-left: 20px;
}

.news input{
    color: #fff;
    padding: 5px;
}

.botao  input[type=submit]{
    background: #69001d;
    
}

a{
    text-decoration: none;
    color: #294c71;   
}

input[type=email]{
    color:black;
    width: 155px;
}

label{
    cursor: pointer;
}
.conteudo h5{
    padding: 0;
    font-size: 1em;
    width: 220px;
    margin: 5px 0 5px 0;
}

#primario .conteudo a{
    color: #69001d;
}


/*alterado novo*/



